AddType text/html .html
AddOutputFilter INCLUDES .html
RewriteEngine On

# Handle requests to index.html
RewriteRule ^index\.html$ / [R=301,L]

# Remove .html extension
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ $1.html [L,QSA]

# Set default document to index.html
DirectoryIndex index.html
